<form (ngSubmit)="submit()" *ngIf="epd$ | async; else loader" autocomplete="off" novalidate>
    <h1>
        {{isNew ? 'Новый платеж' : 'Платеж за ' + (date.value | moment:'MMMM YYYY')}}
        <button
            (click)="delete()"
            *ngIf="!isNew"
            [disabled]="form.disabled"
            color="warn"
            mat-icon-button
            type="button"
        >
            <mat-icon>delete_forever</mat-icon>
        </button>
    </h1>
    <div class="row">
        <app-month-input [control]="date"></app-month-input>
    </div>
    <div class="row">
        <app-number-input
            [control]="waterSupply[0]"
            [decimal]="3"
            label="Холодное водоснабжение"
        ></app-number-input>
        <app-number-input
            [control]="waterSupply[1]"
            [decimal]="3"
            label="Холодное водоснабжение для ГВС"
        ></app-number-input>
    </div>
    <div class="row">
        <app-number-input
            [control]="heatSupply[0]"
            [decimal]="3"
            label="Отопление индив."
        ></app-number-input>
        <app-number-input
            [control]="heatSupply[1]"
            [decimal]="3"
            label="Отопление общ."
        ></app-number-input>
        <app-number-input
            [control]="heatSupply[2]"
            [decimal]="3"
            label="Тепловая энергия для ГВС"
        ></app-number-input>
    </div>
    <div class="row">
        <app-number-input
            [control]="powerSupply[0]"
            [decimal]="3"
            label="Электроснабжение дн. индив."
        ></app-number-input>
        <app-number-input
            [control]="powerSupply[1]"
            [decimal]="3"
            label="Электроснабжение нч. индив."
        ></app-number-input>
        <app-number-input
            [control]="powerSupply[2]"
            [decimal]="3"
            label="Электроснабжение пик. индив."
        ></app-number-input>
    </div>
    <div class="row">
        <app-number-input
            [control]="powerSupplyCommon[0]"
            [decimal]="3"
            label="Электроснабжение дн. общ."
        ></app-number-input>
        <app-number-input
            [control]="powerSupplyCommon[1]"
            [decimal]="3"
            label="Электроснабжение нч. общ."
        ></app-number-input>
        <app-number-input
            [control]="powerSupplyCommon[2]"
            [decimal]="3"
            label="Электроснабжение пик. общ."
        ></app-number-input>
    </div>
    <div class="row">
        <ng-container *ngFor="let control of otherPayments; let index = index">
            <app-number-input
                (suffixClick)="removeOtherPayment(index)"
                [control]="control"
                [label]="'Дополнительная сумма ' + (index + 1)"
                [suffix]="canRemoveOtherPayment && 'remove'"
                placeholderPostfix="₽"
            >
            </app-number-input>
        </ng-container>
        <button
            class="add-other-payment"
            (click)="addOtherPayment()"
            mat-icon-button
            type="button"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="row">
        <app-number-input
            [control]="receiptTotalPayment"
            label="Итого по квитанции"
            placeholderPostfix="₽"
        ></app-number-input>
    </div>
    <button [disabled]="form.disabled" color="primary" mat-flat-button type="submit">
        {{isNew ? 'Добавить' : 'Сохранить'}}
    </button>
</form>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>

