@import "~src/scss/variables";

.row {
  $spacer: $spacer / 2;
  display: flex;
  margin: 0 (-$spacer);

  > * {
    display: block;
    min-width: 280px;
    margin: 0 $spacer;
  }
}

.mat-icon-button {
  margin: -4px 0;
  vertical-align: top;
}
