@import "~src/scss/variables";

.row {
  $spacer: $spacer / 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$spacer);

  app-number-input, app-month-input {
    display: block;
    min-width: $col-width;
    margin: 0 $spacer;
  }

  .mat-icon-button {
    margin: 11px 0 30px;
  }
}

h1 button {
  margin: -4px 0;
  vertical-align: top;
}
