<mat-form-field appearance="fill">
    <mat-label>{{label}}</mat-label>
    <input
        [formControl]="control"
        [matDatepicker]="dp"
        matInput
    >
    <mat-datepicker-toggle [for]="dp" matSuffix></mat-datepicker-toggle>
    <mat-datepicker
        #dp
        (monthSelected)="chosenMonthHandler($event, dp)"
        (yearSelected)="chosenYearHandler($event)"
        panelClass="app-month-picker"
        startView="multi-year"
    ></mat-datepicker>
    <mat-error *ngIf="control.invalid">{{errorMessage}}</mat-error>
</mat-form-field>
