<mat-card>
    <mat-card-header>
        <mat-card-title>{{epd.date | moment:'MMMM YYYY' | titlecase}}</mat-card-title>
        <button (click)="editClicked($event)" *ngIf="isUserLoggedIn$ | async" mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        Итого: {{total | price}}
        <ng-container *ngIf="totalDiff as diff">
            (<span [class.error-text]="diff > 0" [class.success-text]="diff < 0">{{diff | price}}</span>)
        </ng-container>
    </mat-card-content>
</mat-card>
