@import "~src/scss/variables";

.container {
  max-width: 900px + $spacer * 2;
  margin: $spacer auto;
  padding: 0 $spacer;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar, mat-toolbar-row {
  height: 56px;
  min-height: 56px;
}
