<form (ngSubmit)="process()">
    <h2 mat-dialog-title>
        {{isNew ? 'Новый адрес' : 'Редактирование адреса'}}
    </h2>
    <mat-dialog-content>
        <app-string-input
            [control]="name"
            label="Название адреса"
        ></app-string-input>
        <app-number-input
            [control]="area"
            [decimal]="1"
            label="Площадь помещения"
            placeholderPostfix="м²"
        ></app-number-input>
        <app-number-input
            [control]="totalArea"
            [decimal]="1"
            label="Общая площадь"
            placeholderPostfix="м²"
        ></app-number-input>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button [disabled]="form.disabled" color="primary" mat-flat-button type="submit">
            {{isNew ? 'Добавить' : 'Сохранить'}}
        </button>
    </mat-dialog-actions>
</form>
