<form (ngSubmit)="process()">
    <h2 mat-dialog-title>
        {{isNew ? 'Новый адрес' : 'Редактирование адреса'}}
    </h2>
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Название адреса</mat-label>
            <input
                [formControl]="name"
                matInput
                type="text"
            >
            <mat-error *ngIf="name.invalid">{{nameErrorMessage}}</mat-error>
        </mat-form-field>
        <app-number-input
            [control]="area"
            [decimal]="1"
            label="Площадь помещения"
        ></app-number-input>
        <app-number-input
            [control]="totalArea"
            [decimal]="1"
            label="Общая площадь"
        ></app-number-input>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button [disabled]="form.disabled" color="primary" mat-flat-button type="submit">
            {{isNew ? 'Добавить' : 'Сохранить'}}
        </button>
    </mat-dialog-actions>
</form>
