@import "src/scss/variables";

.items {
  $spacer: $spacer / 2;
  display: flex;
  flex-wrap: wrap;
  margin: -$spacer;

  > * {
    cursor: pointer;
    display: block;
    width: $col-width;
    margin: $spacer;
  }
}

.buttons {
  margin-top: $spacer;
  text-align: center;
}
